.headline {
    margin: 0px 0px 15px;
    border-bottom: 2px solid #72C02C;
}

.thumbnail {
    padding: 5px;
}

.thumbnail .tag {
    padding: 1px 5px;
    right: -10px;
    color: #FFF;
    display: inline-block;
    position: absolute;
}

    .thumbnail .thumbnail-container {
        position: relative;
    }

    .thumbnail .text-tag {
        background-color: #72c02c;
        bottom: 5px;
    }

    .thumbnail .content-tag {
        background-color: #F79A47;
        top: 5px;
    }


    .thumbnail .thumbnail-image-container {
        overflow: hidden;
    }

    .thumbnail .thumbnail-image {
        width: 100%;
        height: auto;
        -ms-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        -webkit-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
    }

.thumbnail a, a:focus, a:hover, a:active {
        outline: 0px none !important;
        text-decoration: none;
    }

    .thumbnail > a:focus, a:hover, a:active {
        color: #72c02c;
    }


@media screen and (min-width: 480px) {
    .thumbnail {
        max-width: 260px;
    }
}

.thumbnail .hover-effect {
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.thumbnai a.text-tag:hover {
    box-shadow: 0px 0px 0px 2px #5FB611;
}

.thumbnai:hover a.text-tag {
    right: 5px;
}

.thumbnail:hover {
    box-shadow: 0px 0px 8px #555;
    -ms-transition: box-shadow 0.2s ease-in-out 0s;
    -o-transition: box-shadow 0.2s ease-in-out 0s;
    -webkit-transition: box-shadow 0.2s ease-in-out 0s;
    transition: box-shadow 0.2s ease-in-out 0s;
}

.thumbnail:hover img {
    -ms-transform: scale(1.2) rotate(2deg);
    -webkit-transform: scale(1.2) rotate(2deg);
    transform: scale(1.2) rotate(2deg)
}
